.btn {
  background: #fff;
  color: $btn-gold;
  font-size: 1.2rem;
  border-radius: $btn-radius;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 5px 20px;
  text-decoration: none;
}
.btn:hover {
  background: $btn-gold;
  color: #fff;
}
