.btn {
  background: #fff;
  color: $btn-gold;
  font-size: 1.2rem;
  border-radius: $btn-radius;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 5px 20px;
  text-decoration: none;
  transition: color 0.35s ease-in-out, background 0.35s ease-in-out;

  &:hover {
    background: $btn-gold;
    color: #fff;
  }
}
