// *** other values
$radius: 5px;

// *** display flex (Placeholder Selectors)
%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// *** colors
$main-color: #1c75bc;

$bg-blue: #abdbff;
$bg-pink: #ffabcd;
$bg-yellow: #fce179;
$bg-green: #8de895;
$bg-purple: #cac8ff;
