// *** other values
$radius: 5px;
$btn-radius: 15px;

// *** display flex (Placeholder Selectors)
%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// *** active btn (Placeholder Selectors)
%activeBtn {
  content: "\00a0";
  display: block;
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

// *** colors
$main-color: #1c75bc;

$shadow: #dee2e6;

$btn-brown: #c9ada7;
$btn-gold: #fca311;
$btn-red: #d62828;
$btn-blue: #00509d;

$bg-blue: #abdbff;
$bg-pink: #ffabcd;
$bg-yellow: #fce179;
$bg-green: #8de895;
$bg-purple: #cac8ff;

$bg-grey: #b9b9b9;
