@import "./config";

.msg-container {
  p {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px auto 0;
    color: #777;

    em {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: bold;
      color: $btn-brown;

      &.blue {
        color: darken($bg-blue, 20%);
      }
      &.pink {
        color: darken($bg-pink, 20%);
      }
      &.yellow {
        color: darken($bg-yellow, 20%);
      }
      &.green {
        color: darken($bg-green, 20%);
      }
      &.purple {
        color: darken($bg-purple, 15%);
      }
    }
  }
}
