@import "config";

.sorter {
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  ul {
    @extend %flex;

    li {
      list-style: none;
      line-height: 10px;

      svg {
        font-size: 1.2rem;
        color: darken($bg-grey, 20%);
      }

      button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #fff;
        cursor: pointer;

        svg {
          color: #fff;
        }
      }

      .all {
        background: $btn-brown;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($btn-brown, 20%);
        }

        &:hover {
          background: darken($btn-brown, 20%);
        }

        span {
          position: absolute;
          top: 3px;
          left: 4px;
          z-index: 2;
          color: #fff;
          font-size: 0.8rem;
        }
      }

      .blue {
        background: $bg-blue;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-blue, 20%);
        }

        &:hover {
          background: darken($bg-blue, 20%);
        }
      }

      .pink {
        background: $bg-pink;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-pink, 20%);
        }

        &:hover {
          background: darken($bg-pink, 20%);
        }
      }

      .yellow {
        background: $bg-yellow;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-yellow, 20%);
        }

        &:hover {
          background: darken($bg-yellow, 20%);
        }
      }

      .green {
        background: $bg-green;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-green, 20%);
        }

        &:hover {
          background: darken($bg-green, 20%);
        }
      }

      .purple {
        background: $bg-purple;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-purple, 15%);
        }

        &:hover {
          background: darken($bg-purple, 15%);
        }
      }

      .time-up,
      .time-down {
        background: $bg-grey;
        position: relative;
        isolation: isolate;

        &.active::after {
          @extend %activeBtn;
          background: darken($bg-grey, 20%);
        }

        &:hover {
          background: darken($bg-grey, 20%);
        }

        svg {
          position: absolute;
          z-index: 2;
        }
      }

      .time-up {
        svg {
          top: 0px;
          left: 1px;
        }
      }

      .time-down {
        svg {
          top: 1px;
          left: 0.5px;
        }
      }
    }

    .vertical-bar {
      width: 3px;
      height: 25px;
      background: #fff;
    }
  }
}
