.tasks-container {
  .task-container {
    margin-bottom: 10px;
    cursor: grab;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.current-dragging {
  background: $shadow;
  border-radius: $radius;

  .task {
    // *** hide .task when the task is dragged
    visibility: hidden;
  }
}
