@import "config";

.task {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: $radius;

  h3 {
    @extend %flex;

    svg {
      cursor: pointer;
      line-height: 1rem;
      color: red;
      padding: 3px;
      border-radius: 50%;
      background: #fff;
    }
    svg:hover {
      color: #fff;
      background: red;
    }
  }

  span {
    color: #666;
  }
}

.task.blue {
  background: $bg-blue;
}
.task.pink {
  background: $bg-pink;
}
.task.yellow {
  background: $bg-yellow;
}
.task.green {
  background: $bg-green;
}
.task.purple {
  background: $bg-purple;
}
