@import "config";

.task {
  padding: 10px;
  border-radius: $radius;

  .task-name-container {
    @extend %flex;

    h3 {
      width: 90%;
      font-weight: normal;
    }

    svg {
      cursor: pointer;
      font-size: 1.2rem;
      padding: 2px;
      border-radius: 50%;
      background: #fff;
      color: $btn-red;
      transition: color 0.35s ease-in-out, background 0.35s ease-in-out;

      &:hover {
        color: #fff;
        background: $btn-red;
      }
    }
  }

  .task-time-container {
    @extend %flex;

    span {
      width: 90%;
      color: #666;
    }

    svg {
      cursor: pointer;
      font-size: 1.2rem;
      padding: 2px;
      border-radius: 50%;
      background: #fff;
      color: $btn-blue;
      transition: color 0.35s ease-in-out, background 0.35s ease-in-out;

      &:hover {
        color: #fff;
        background: $btn-blue;
      }
    }
  }

  &.blue {
    background: $bg-blue;
  }
  &.pink {
    background: $bg-pink;
  }
  &.yellow {
    background: $bg-yellow;
  }
  &.green {
    background: $bg-green;
  }
  &.purple {
    background: $bg-purple;
  }
}
