@import "./styles/config";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  margin: 0 10px;
}

.container {
  background: #f1f1f1;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 495px;
  padding: 30px;
  border-radius: $radius;
  position: relative;

  p {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px auto 0;
    color: #777;

    em {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: bold;
      color: $btn-brown;
    }
    em.blue {
      color: darken($bg-blue, 20%);
    }
    em.pink {
      color: darken($bg-pink, 20%);
    }
    em.yellow {
      color: darken($bg-yellow, 20%);
    }
    em.green {
      color: darken($bg-green, 20%);
    }
    em.purple {
      color: darken($bg-purple, 15%);
    }
  }
}

@import "./styles/header";
@import "./styles/sorter";
@import "./styles/btn";
@import "./styles/task";
@import "./styles/tasks";
@import "./styles/addTaskForm";
