@import "./styles/config";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  background: #f1f1f1;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 460px;
  padding: 30px;
  border-radius: $radius;
  position: relative;

  p {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px auto 0;
    color: #777;

    em {
      font-size: 1.2rem;
      font-style: normal;
      font-weight: bold;
      color: royalblue;
    }
  }
}

@import "./styles/header";
@import "./styles/btn";
@import "./styles/task";
@import "./styles/addTaskForm";
